/* ideadlly I would add all the CSS to specific files */
/* For this project, I just keep CSS to App.tsx */
/* PS. I prefer CSS to CSS-in-JS, old school */

.app__wrap {
  height: 90vh;
}

.layout__wrap {
  margin: 40px 52px;
  height: 100%;
  box-sizing: border-box;
}

.title__wrap {
  margin-bottom: 40px;
}

.table__wrap {
  height: calc(100% - 80px);
}

.table__title {
  display: flex;
  justify-content: space-between;
}

.table__body {
  margin-top: 16px;
}

.search__wrap {
  position: relative;
}

.search__icon {
  position: absolute;
  right: 4px;
  top: 14px;
}

.pagination__wrap {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}
